Codes/trails/Bertlogs_1/
Codes/trails/Bertresults/
Codes/trails/Berttraillogs/
Codes/trails/Berttrailresults/
Codes/trails/DistilBertResults/
Codes/trails/GPTresults/
Codes/trails/wandb/run-20220627_231505-24ru7mv7/
Codes/trails/Datasets/Kabita/FineTunedTransformers/gpt_hinglish_finetuned_vectorized_kabita_dataset.csv
Codes/trails/Datasets/Kabita/FineTunedTransformers/xlm_base_finetuned_vectorized_kabita_dataset.csv
Codes/trails/Datasets/Nisha/FineTunedTransformers/gpt_hinglish_finetuned_vectorized_Nisha_dataset.csv
Codes/trails/Datasets/Nisha/FineTunedTransformers/xlm_base_finetuned_vectorized_Nisha_dataset.csv
